<label class="input input-bordered <%= 'input-error' if @error_message.present? %> flex items-center bg-transparent p-2">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png", id: @id) %>

  <%= @form.text_field @field_name, class: "text-sm w-96 max-[768px]:w-full px-2", placeholder: @placeholder, data: @data, readonly: @readonly, oninput: @oninput %>
</label>

<p class='text-sm text-red-500'><%= @error_message.join(', ') if @error_message.present? %></p>
