@import "pagy.tailwind";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MADECanvas-Black';
  src: url('fonts/MADECanvasBlackPERSONALUSE.otf') format('opentype');
  src: url('fonts/MADECanvasLightPERSONALUSE.otf') format('opentype');
  src: url('fonts/MADECanvasRegularPERSONALUSE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

